{% extends "base.html" %}

{% block page_title%}
<h1>Modificar movimiento</h1>
{% endblock page_title %}

{% block contenido %}

{% if form.errors %}
<div class="errores">
  <p>
    El formulario tiene errores. ¿Puedes corregirlos?
  </p>

  <ul>
    <!-- {{form.errors}}

    {% for clave, valor in form.errors.items() %}
    <li>{{clave}} tiene errores</li>
    {% for mensaje in valor%}
    <ul>
      <li>{{ mensaje }}</li>
    </ul>
    {% endfor %}
    {% endfor %}
    -->
  </ul>
</div>
{% endif %}

<form action="/editar/{{ id }}" method="post" novalidate>
  {{ form.csrf_token }}
  {{ form.id }}

  <!-- Fecha -->
  <div class="campo-formulario">
    {{ form.fecha.label }}
    {{ form.fecha }}
    {% if form.errors['fecha'] %}
    {% for error_fecha in form.errors['fecha'] %}
    <p class="errors">{{error_fecha}}</p>
    {% endfor %}
    {% endif %}
  </div>

  <!-- Concepto -->
  <div class="campo-formulario">
    {{ form.concepto.label }}
    {{ form.concepto }}
    {% if form.errors['concepto'] %}
    {% for error_concepto in form.errors['concepto'] %}
    <p class="errors">{{error_concepto}}</p>
    {% endfor %}
    {% endif %}
  </div>

  <!-- Tipo -->
  <div class="campo-formulario">
    {% for campo in form.tipo %}
    {{ campo }}
    {{ campo.label }}
    {% endfor %}
  </div>

  <!-- Cantidad -->
  <div class="campo-formulario">
    {{ form.cantidad.label }}
    {{ form.cantidad }}
    {% if form.errors['cantidad'] %}
    {% for error_cantidad in form.errors['cantidad'] %}
    <p class="errors">{{error_cantidad}}</p>
    {% endfor %}
    {% endif %}
  </div>

  <!-- Botón de enviar -->
  <div class="acciones">
    {{ form.submit }}
  </div>
</form>

{% endblock contenido %}